<ion-app>
  <ion-content>
    <div class="header-container">
      <img src="../../assets/imagenes/Ken Kaneki.jpg" alt="Imagen-Perfil" class="imagen-Perfil">
      <ion-searchbar></ion-searchbar>
    </div>
    <ion-item>
      <ion-label>
        <h1>Batalla</h1>
        <p>Descubre miles de juegos de la categoría</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h1>Deportes</h1>
        <p>Descubre miles de juegos de la categoría</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h1>Multijugador</h1>
        <p>Descubre miles de juegos de la categoría</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h1>Misterio</h1>
        <p>Descubre miles de juegos de la categoría</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h1>Terror</h1>
        <p>Descubre miles de juegos de la categoría</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h1>Aventura</h1>
        <p>Descubre miles de juegos de la categoría</p>
      </ion-label>
    </ion-item>
  </ion-content>
</ion-app>
